:root {
  --wrapper-width: 480px;
  --add-to-content: 50px;
}
/* 
*::before,
*::after {
  box-sizing: border-box;
} */

body {
  margin: 0;
  font-family: sans-serif;
  line-height: 1.5;
  color: #2a2a2a;
}

.container {
  max-width: 960px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

/* * {
  box-sizing: border-box;
} */

body {
  font-family: sans-serif;
  line-height: 1.5;
  color: #2a2a2a;
}

.list {
  padding: 20px;
  margin: 0;
  list-style: none;
}

.list-item:not(:last-child) {
  margin-bottom: 5px;
}

.list-link {
  display: inline-flex;
  align-items: center;
  color: currentColor;
  text-decoration: none;
  font-size: 32px;
}

/* Менять тип не обязательно, потому что это flex-элемент, ссылка это flex-контейнер */
.list-link::before,
.list-link::after {
  display: inline-block;
  content: '';
  width: 24px;
  height: 24px;
}

/* Добавляем иконку огня перед текстом ссылки */
.list-link::before {
  margin-right: 16px;
  background-image: url('https://image.flaticon.com/icons/svg/785/785116.svg');
}

/* Добавляем и прячем иконку кота после текста ссылки */
.list-link::after {
  display: none;
  margin-left: 16px;
  background-image: url('https://image.flaticon.com/icons/svg/616/616430.svg');
}

.list-link:hover {
  color: #2196f3;
}

/* Показываем иконку кота при ховере по ссылке */
.list-link:hover::after {
  display: block;
}

/* .tile::before {
  position: absolute;
  top: -32px;
  width: 100%;
  content: '';
  font-weight: 700;
  font-size: 20px;
  text-align: center;
} */
/* 


.no-repeat::before {
  content: 'no-repeat';
}


.repeat-x::before {
  content: 'repeat-x';
}



.repeat-y::before {
  content: 'repeat-y';
}



.repeat::before {
  content: 'repeat';
} */
